body {
  padding-top: 5rem;
}

#navbar {
  background-color: #FFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

a[target="_blank"]:after {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMDI0IiB3aWR0aD0iNzY4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik02NDAgNzY4SDEyOFYyNTcuOTA1OTk5OTk5OTk5OTVMMjU2IDI1NlYxMjhIMHY3NjhoNzY4VjU3Nkg2NDBWNzY4ek0zODQgMTI4bDEyOCAxMjhMMzIwIDQ0OGwxMjggMTI4IDE5Mi0xOTIgMTI4IDEyOFYxMjhIMzg0eiIvPjwvc3ZnPg==);
  background-size: 8px 11px;
  display: inline-block;
  width: 8px; 
  height: 14px;
  margin-left: 2px;
  background-repeat: no-repeat;
  content: "";
}